#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=UG Editor
Comment=A bad text editor by dislucky
Icon="logo.png"
StartupNotify=true
Exec="/home/mostafa/Code/gtk-notes/build/notes_app"