#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=UG Editor
GenericName=Geditor
Comment=A bad text editor by dislucky
Icon=editorApp
StartupNotify=true
Exec=@bindir@/build/notes_app
Categories=GNOME;GTK;Utility